<nav class="bg-gray-800 p-3 mb-6 rounded-lg shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white font-bold text-lg flex items-center">
            <img src="{{ url_for('static', path='favicon.svg') }}" alt="Logo" class="h-6 w-6 mr-2">
            <span>GH Star Sorter</span>
        </div>
        <div class="flex items-center space-x-6 text-sm">
            <span class="text-gray-400">v{{ app_version }}</span>
            <a href="https://github.com/pypeaday/gh-star-sorter" target="_blank" rel="noopener noreferrer" class="text-gray-300 hover:text-indigo-400 transition-colors duration-300">GitHub</a>
            <a href="{{ kanboard_link }}" target="_blank" rel="noopener noreferrer" class="text-gray-300 hover:text-indigo-400 transition-colors duration-300">Kanboard</a>
        </div>
    </div>
</nav>
